.input {
    &__element {
        border: none;
        border-bottom: 1px solid $COLOR_BLUE;
        width: 100%;
        margin-bottom: 15px;
        outline: none;
        font-size: $MEDIUM-FONT;
        color: $COLOR-BLACK;
    }
    &__label {
        color: $COLOR-GRAY;
        font-weight: 900;
        margin-bottom: 10px;
        font-size: $SMALL-FONT;
    }
}

