<div class="input">
  <label class="input__wrapper">
    <div class="input__label"> {{label}} </div>
    <input class="input__element" type={{type}} name={{name}} placeholder="{{placeholder}}"/>
  </label>

</div>

