@font-face {
    font-family: "Inter";
    font-weight: medium;
    src: url('./src/assets/Inter/Inter-VariableFont_slnt\,wght.ttf');
}

@import './src/constants/vars';

@import './src/components/button/button';
@import './src/components/form/form';
@import './src/components/input/input';
@import './src/components/list-item/list-item';
@import './src/components/changeableItem/changeable-item';

@import './src/pages/chat/chat';
@import './src/pages/error404/error404';
@import './src/pages/login/login';
@import './src/pages/profile/profile';
@import './src/pages/profileChange/profileChange';
@import './src/pages/mainPage/main';

body {
    font-family: "Inter";
}

