<div class="error__wrapper">
    <div class="error__content"> 
        <header>500</header>
        <div class="error__text">Мы уже фиксим</div>
    </div>

    {{> Button page='chat' label='Назад к чатам' }}
</main>
