<main class="wrapper">
<a href="">На главную</a>
<div class="chat__wrapper">
    <div class="chat__list">
        users list
    </div>
    <div class="chat__window">
        <div class="chat__content">
            Выберите чат, чтобы отправить сообщение
        </div>
</div>
</div>
</main>