
<main class="contents__container">
    <div class="contents__links">
            Список всех страниц:
        <ul>
            <li>    
                <a href="" page="login">Login Page</a>
            </li>
            <li>
                <a href="" page="signin">Registration Page</a>
            </li>
            <li>
                <a href="" page="profile">Profile Page</a>
            </li>
            <li>
                <a href="" page="profileChange">ProfileChange Page</a>
            </li>
            <li>
                <a href="" page="passwordChange">PasswordChange Page</a>
            </li>
            <li>
                <a href="" page="chat">Chat Page</a>
            </li>
            <li>
                <a href="" page="error404">Error404</a>
            </li>
            <li>
                <a href="" page="error500">Error 500</a>
            </li>
        </ul>
        
    </div>
</main>
