<main class="error__wrapper">
    <div class="error__content"> 
        <header>404</header>
        <div class="error__text">Не туда попали</div>
    </div>

    {{> Button label='Назад к чатам' page='chat'}}
</main>


