<main class="profile__wrapper">
  {{> Icon}}
  <div class="profile__content">
    <div class='profile__avatar'>
      {{> AvatarImg}}
    </div>
    <div class="profile__items">
        {{> ChangeableItem name='oldPassword' label='Старый пароль' type="password" placeholder='********'}}
        {{> ChangeableItem name='newPassword' label='Новый пароль' type="password" placeholder='********'}}
        {{> ChangeableItem label='Повторите новый пароль' type="password" placeholder='********'}}
    </div>
    <div class="profile__saving">
        {{> Button label='Сохранить' page='profile'}}
    </div>
    
  </div>
</main>
